@model AppointmentScheduling.ViewModels.RegisterViewModel
<h2>Sign Up</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Name"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="PasswordConfirmation"></label>
        <div class="col-md-10">
            <input asp-for="PasswordConfirmation" class="form-control" />
            <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName"></label>
        <div class="col-md-10">
            <select class="custom-select mr-sm-2" asp-for="RoleName" asp-items="@AppointmentScheduling.Helper.Helper.GetRoles()"> <!-- tag helper asp-for é igual ao name no php, ou seja é necessario de modo a que os dados sejam enviados do cliente para o servidor (formulario)-->
                <option selected>----ROLE----</option>
            </select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <button type="submit" class="btn btn-info">
                Sign Up
            </button>
        </div>
    </div>
    <p class="col-md-10 offset-md-2">
        <a asp-controller="Account" asp-action="Login">
            Sign In
        </a>
    </p>
</form>


@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}